# Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/arkans"

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# Plans
NEXT_PUBLIC_PLAN_INICIADO_ID=price_...
NEXT_PUBLIC_PLAN_PRACTICANTE_ID=price_...
NEXT_PUBLIC_PLAN_CIRCULO_ID=price_...
